@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'メイリオ', Meiryo, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
  margin-bottom: 10px;
}

main {
  width: 710px;
  padding: 15px 20px 87px;
  margin: 0 auto;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 20px 20px 30px;
  background: url(../images/dotted.jpg);
  position: relative;
  z-index: 1;
}

section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  margin: 10px;
  background: #fff;
  z-index: -1;
}

section + section {
  margin-top: 20px;
}

section:nth-child(even) .imgpic {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

section:nth-child(even) .inner {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

section:nth-child(even) .btn {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
}

section .tit {
  width: 100%;
  background: #ff7d73;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}

section .tit a {
  display: block;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  border-left: 5px solid #ffe073;
  padding: 4px 0 3px 10px;
  letter-spacing: -.05em;
}

section .tit:hover {
  text-decoration: underline;
}

section .inner {
  width: 380px;
}

section .inner .price {
  line-height: 1.15;
}

section .inner .price, section .inner .notes {
  text-align: right;
}

section .inner .price, section .inner .price span span {
  font-size: 16px;
}

section .inner .price span {
  color: #f00;
  font-size: 2em;
}

section .inner .notes {
  font-size: 11px;
}

section .inner .lede {
  background: #ff7d73;
  width: 100%;
  font-size: 14px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}

section .inner .lede dt {
  width: 70px;
  text-align: center;
}

section .inner .lede dd {
  background: #fff0b9;
  width: 310px;
  color: #ff7d73;
  font-size: 1.14em;
  padding: 5px 0 5px 5px;
}

section .inner .plist {
  font-size: 13px;
  margin-top: 10px;
}

section .inner .plist li {
  padding-left: 15px;
  position: relative;
}

section .inner .plist li:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #ff7d73;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 2px;
}

section .inner .plist li + li {
  margin-top: 15px;
}

section .imgpic img {
  border: 2px solid #ff7d73;
  width: 236px;
}

section .btn {
  width: 100%;
  margin-top: 25px;
  text-align: center;
}

section .btn a {
  display: inline-block;
  width: 240px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #fff;
  letter-spacing: -0.05em;
  background: url(../images/button.jpg);
  text-decoration: none;
  font-size: 18px;
}

section .btn a:hover {
  opacity: .7;
}

.pagetop {
  position: fixed;
  bottom: 37px;
  left: 50%;
  margin-left: 305px;
  cursor: pointer;
  z-index: 10;
}

.pagetop a {
  display: block;
}

.pagetop a img {
  width: 30px;
  height: 30px;
}
